@tailwind base;
@tailwind components;
@tailwind utilities;

.menu a.active {
    color: red;
  }

.menu a {
   
    background-color: transparent;
    font-size: 20px;
  }

  .acctivate a.active {
    text-decoration: underline;
  }